
html, body {
    height: 100%;
    font-family: 'Lucida Grande';
}

input, textarea, select {
    font-family: 'Lucida Grande';
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}

.main {
    width: 100%;
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
    background: rgb(195, 195, 195);
}

.site-nav {
    width: 100%;
    height: 95px;
    background: white;
    box-shadow: 0px 1px 4px 0px rgba(48,48,48,1);
    position: absolute;
    z-index: 1;
}

.table {
    width: 100%;
    height: 100%;
    display: table;
}

.table .middle {
    display: table-cell;
    vertical-align: middle;
}

.modal-blocker {
    /*display: none;*/
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 2;
}

.modal {
    position: relative;
    background: white;
    width: 450px;
    margin: 0 auto;
    border-radius: 3px;
    padding: 1px 0 1px 0;
}

.modal button {
    margin: 15px 0 0 0;
    float: right;
    border: none;
    padding: 10px 15px 10px 23px;
    color: white;
    font-family: 'Oswald', sans-serif;
    border-radius: 3px;
    background: rgb(168, 233, 112);
}

.modal button:after {
    font-family: FontAwesome;
    content: " \f067";
}

.modal .close-btn {
    width: 36px;
    height: 36px;
    background: black;
    border-radius: 50%;
    position: absolute;
    right: -18px;
    top: -18px;
    font-family: FontAwesome;
    color: white;
    text-align: center;
    line-height: 35px;
    font-size: 14pt;
    cursor: pointer;
}

.modal .close-btn:after {
    content: "\f00d";
}

.modal .content {
    width: 90%;
    margin: 5% auto;
    padding: 0 10px;
    overflow: visible;
}

.modal .content input[type=text],
.modal .content input[type=url],
.modal .content input[type=email],
.modal .content select,
.modal .content textarea {
    width: 405px;
    margin: 5px 0 5px 0;
}

.modal .content input[type=text],
.modal .content input[type=url],
.modal .content input[type=email],
.modal .content textarea {
    border: none;
    background: rgb(244, 244, 244);
    width: 395px;
    padding: 10px 5px;
    border-radius: 3px;
    outline: none;
    resize: none;
}

.modal .content textarea {
    height: 200px;
}

.modal .content .address-wrapper {
    position: relative;
}

.modal .content .sugestions {
    list-style: none;
    width: 91%;
    margin: 0;
    position: absolute;
    padding: 0;
    border-radius: 0 0 3px 3px;
    box-shadow: 0px 2px 4px 0px rgba(48,48,48,1);
    background: white;
    top: 43px;
    width: 405px;
}

.modal .content .sugestions li {
    display: block;
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.modal .content .sugestions li:nth-child(odd) {
    background: rgb(222, 222, 222);
}

.modal .content .sugestions li:hover {
    background: rgb(96, 50, 255);
}

.modal .content .sugestions li.selected {
    background: rgb(67, 22, 230);
}

.modal .content span {
    position: relative;
    display: block;
}

.error input, .error textarea {
    border: 1px solid rgb(235, 30, 22) !important;
}

.error:after {
    font-family: FontAwesome;
    width: 22px;
    height: 22px;
    position: absolute;
    top: -5px;
    right: -12px;
    background: rgb(235, 30, 22);
    border-radius: 50%;
    color: white;
    content: "\f12a";
    text-align: center;
    line-height: 23px;
}

.elem-wrapper {
    margin: 18px 0;
}

.modal .btn-pane {
    height: 50px;
}
